# Server Port
PORT=

# Environment
NODE_ENV=

# Database Credentail
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_TYPE=

# Cors Credential
CORS_ORIGIN=
CORS_METHODS=
CORS_CREDENTIAL=
CORS_AGE=

# Nodemailer Credentail
SMTP_NAME=
SMTP_EMAIL=
SMTP_PORT=
SMTP_HOST=
SMTP_SECURE=

# JsonWebToken Credentail
JWT_SECRET=